Задание 1                              
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:                       
- оценка 2 и меньше - низкий рейтинг                 
- оценка 4 и меньше - средний рейтинг                
- оценка 4.5 и 5 - высокий рейтинг                        

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ratings.csv')
def estimation (rating):
    if rating <= 2:
        return 'Низкий рейтинг'
    elif rating > 2 and rating <= 4:
        return 'Средний рейтинг'
    elif rating >= 4.5:
        return 'Высокий рейтинг'
df['class'] = df['rating'].apply(estimation)
df.head(6520)

      userId  movieId  rating   timestamp            class
0          1      296     5.0  1147880044  Высокий рейтинг
1          1      306     3.5  1147868817  Средний рейтинг
2          1      307     5.0  1147868828  Высокий рейтинг
3          1      665     5.0  1147878820  Высокий рейтинг
4          1      899     3.5  1147868510  Средний рейтинг
...      ...      ...     ...         ...              ...
6515      46     7366     5.0  1248369672  Высокий рейтинг
6516      46     7419     3.0  1248365994  Средний рейтинг
6517      46     7438     0.5  1248368662   Низкий рейтинг
6518      46     7618     4.0  1248366983  Средний рейтинг
6519      46     7720     4.5  1248367935  Высокий рейтинг

[6520 rows x 5 columns]

Задание 2                       
Используем файл keywords.csv.                          
Необходимо написать гео-классификатор, который каждой строке сможет выставить                     
географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит                             
название города региона, то в столбце ‘region’ пишется название этого региона.                                       
Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {            
'Центр': ['москва', 'тула', 'ярославль'],          

'Северо-Запад': ['петербург', 'псков', 'мурманск'],         

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']          
}                                                                                                      
Результат классификации запишите в отдельный столбец region.

In [3]:
pf = pd.read_csv('keywords.csv' ,encoding = 'utf8')
#df.head(6520)
def geo_data(city):
    if 'москва' in city or 'тула' in city or 'ярославль' in city:
        return 'Центр'
    elif 'петербург' in city or  'псков' in city or 'мурманск' in city:
        return 'Северо-Запад'
    elif 'владивосток' in city or  'сахалин' in city or  'хабаровск' in city:
        return 'Дальний Восток'
    else:
        return 'undefined'
pf['region'] = pf['keyword'].apply(geo_data)
pf.head(98412)

                        keyword     shows     region
0                            вк  64292779  undefined
1                 одноклассники  63810309  undefined
2                         порно  41747114  undefined
3                          ютуб  39995567  undefined
4                     вконтакте  21014195  undefined
...                         ...       ...        ...
98407  проклятые противостояние      3766  undefined
98408           малюнки олівцем      3695  undefined
98409      настя каменских фото      4386  undefined
98410                     сотис      3684  undefined
98411      погода в лазаревском      3660  undefined

[98412 rows x 3 columns]

In [4]:
pf['region'].unique()

array(['undefined', 'Центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

In [5]:
pf['region'].value_counts().head()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”.                                
Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия                
(файл movies.csv и ratings.csv из базы https://grouplens.org/datasets/movielens).                       
Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.                          
При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:                   
1.В переменную years запишите список из всех годов с 1950 по 2010.                
2.Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска.                  
Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:                     
 -для каждой строки пройдите по всем годам списка years         
 -если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска                             
 -если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год                          
3.Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4.Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга.

In [10]:
%%time
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
years = {}
years = [i for i in range(1950, 2011)]
def production_year(title):
    if title.replace(')','').split('(')[-1] in str(years):
        return title.replace(')','').split('(')[-1]
    return '1900'
movies['year'] = movies['title'].apply(production_year)
df = movies.merge(ratings, on='movieId', how='left')

df.head()

Wall time: 2min 40s

,movieId,title,genres,year,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,2.0,3.5,1.141416e+09
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,3.0,4.0,1.439472e+09
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,4.0,3.0,1.573944e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,5.0,4.0,8.586259e+08
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,8.0,4.0,8.904925e+08

In [12]:
%%time
results = df.groupby('year')['rating'].mean().sort_values(ascending=False)
results.head(4560)

Wall time: 3.46 s

year
1957    3.999611
1954    3.985693
1972    3.956477
1962    3.929445
1952    3.895315
          ...
1990    3.435759
2005    3.433943
2000    3.420888
1997    3.410699
1996    3.352833
Name: rating, Length: 62, dtype: float64