In [71]:
import pandas as pd
import numpy as np

Задание 1. Загрузка данных                         
Изучить представленный набор данных на основе описания его столбцов,                      
загрузить его и оставить 8 столбцов для дальнейшего изучения:                       
surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [72]:
df = pd.read_csv('horse_data.csv', header = None, na_values = '?', usecols = [0,1,2,3,4,5,6,10,22], names = ['Хирургия','Возраст', 'Номер госпиталя', 'Р.температура', 'пульс', 'дыхание',' К.температура', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'боль', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'Исход', 'surgical lesion?', ' type of lesion1', ' type of lesion2', ' type of lesion3', 'cp_data'])
df.head()

,Хирургия,Возраст,Номер госпиталя,Р.температура,пульс,дыхание,К.температура,боль,Исход
0,2.0,1,530101,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,534817,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,530334,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,5290409,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,2.0

Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Хирургия         299 non-null    float64
 1   Возраст          300 non-null    int64
 2   Номер госпиталя  300 non-null    int64
 3   Р.температура    240 non-null    float64
 4   пульс            276 non-null    float64
 5   дыхание          242 non-null    float64
 6    К.температура   244 non-null    float64
 7   боль             245 non-null    float64
 8   Исход            299 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 21.2 KB

In [74]:
df.describe()

,Хирургия,Возраст,Номер госпиталя,Р.температура,пульс,дыхание,К.температура,боль,Исход
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [77]:
(df.isna().mean() * 100).round(2)
#пропуски от 18 до 20% по категориям дыхание, температура конечностей, боль,рект.температура.
#8% пропусков по категории пульс. И 0,33% по категориям Исход и Хирурия.

Хирургия            0.33
Возраст             0.00
Номер госпиталя     0.00
Р.температура      20.00
пульс               8.00
дыхание            19.33
 К.температура     18.67
боль               18.33
Исход               0.33
dtype: float64

In [97]:
#Посмотрим есть ли выбросы в категориях 
q1 = df['пульс'].quantile(0.25)
q3 = df['пульс'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['пульс'].between(lower_bound, upper_bound, inclusive=True)].sort_values('пульс')
remove_outliers

,Хирургия,Возраст,Номер госпиталя,Р.температура,пульс,дыхание,К.температура,боль,Исход
130,1.0,1,528964,37.8,30.0,12.0,NaN,NaN,2.0
232,1.0,1,5262543,38.5,30.0,18.0,NaN,NaN,1.0
203,2.0,1,529685,37.2,36.0,9.0,1.0,2.0,1.0
276,1.0,1,534787,38.0,36.0,16.0,3.0,4.0,3.0
242,1.0,1,530354,NaN,36.0,32.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...
148,1.0,1,529272,38.3,132.0,NaN,NaN,2.0,1.0
135,1.0,9,5287179,38.1,136.0,48.0,3.0,5.0,2.0
44,1.0,1,535407,35.4,140.0,24.0,3.0,4.0,3.0
103,1.0,9,5292489,38.0,140.0,68.0,1.0,3.0,1.0
39,1.0,9,5277409,39.2,146.0,96.0,NaN,NaN,2.0

In [98]:
q1 = df['дыхание'].quantile(0.25)
q3 = df['дыхание'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['дыхание'].between(lower_bound, upper_bound, inclusive=True)].sort_values('дыхание')
remove_outliers

,Хирургия,Возраст,Номер госпиталя,Р.температура,пульс,дыхание,К.температура,боль,Исход
190,1.0,1,528742,37.1,40.0,8.0,NaN,3.0,1.0
203,2.0,1,529685,37.2,36.0,9.0,1.0,2.0,1.0
140,1.0,1,529960,38.1,44.0,9.0,3.0,2.0,1.0
89,2.0,1,535381,38.3,42.0,10.0,1.0,1.0,1.0
162,2.0,1,535176,39.5,60.0,10.0,3.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...
220,1.0,1,535029,39.2,88.0,58.0,4.0,5.0,3.0
20,1.0,1,530157,39.9,72.0,60.0,1.0,5.0,1.0
23,1.0,9,534998,38.3,130.0,60.0,NaN,2.0,1.0
185,1.0,1,534833,38.5,120.0,60.0,4.0,NaN,1.0
248,1.0,1,527709,38.0,108.0,60.0,2.0,4.0,1.0

In [103]:
# можно посмотреть стат данные по категорям
def stats(nums):
    for n in df.items():
        print('Размах:',df[nums].max() - df[nums].min())
        print('Значение моды :', df[nums].round().mode())
        print('Медиана:', df[nums].median())
        print('Дисперсия:', df[nums].var())
        print('Квантили:', df[nums].quantile([0.25,0.75]))
        print('Межквантильный размах:', df[nums].quantile(0.75) -df[nums].quantile(0.25))
        break
stats('пульс')

Размах: 154.0
Значение моды : 0    48.0
dtype: float64
Медиана: 64.0
Дисперсия: 819.7087747035575
Квантили: 0.25    48.0
0.75    88.0
Name: пульс, dtype: float64
Межквантильный размах: 40.0

In [104]:
def stats(nums):
    for n in df.items():
        print('Размах:',df[nums].max() - df[nums].min())
        print('Значение моды :', df[nums].round().mode())
        print('Медиана:', df[nums].median())
        print('Дисперсия:', df[nums].var())
        print('Квантили:', df[nums].quantile([0.25,0.75]))
        print('Межквантильный размах:', df[nums].quantile(0.75) -df[nums].quantile(0.25))
        break
stats('дыхание')

Размах: 88.0
Значение моды : 0    20.0
dtype: float64
Медиана: 24.5
Дисперсия: 311.24832824663054
Квантили: 0.25    18.5
0.75    36.0
Name: дыхание, dtype: float64
Межквантильный размах: 17.5

Задание 3. Работа с пропусками      
Рассчитать количество пропусков для всех выбранных столбцов. 
Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик                
и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [76]:
(df.isna().mean() * 100).round(2)
#пропуски от 18 до 20% по категориям дыхание, температура конечностей, боль,рект.температура. 8% пропусков по категории пульс.

Хирургия            0.33
Возраст             0.00
Номер госпиталя     0.00
Р.температура      20.00
пульс               8.00
дыхание            19.33
 К.температура     18.67
боль               18.33
Исход               0.33
dtype: float64

Так как пропуски в параметрах Хирургия и Исход всего 0,33% и это данные категориальные, то заполним пропуски в Хирургии и Исходе часто встречающимися значениями.

In [68]:
df['Исход'].fillna(df['Исход'].mode()[0], inplace= True)
df['Хирургия'].fillna(df['Хирургия'].mode()[0], inplace= True)

In [20]:
print(df.groupby('Исход')['пульс'].median())

Исход
1.0    54.0
2.0    86.0
3.0    82.0
Name: пульс, dtype: float64

Сгруппировав данные по исходу выдно, что в среднем выжившие лошади имели пульс 54, а все умершие 82-86.  
Cоответственно можно заменить пропуски в пульсе на основании данных исхода.

In [21]:
df['пульс'].fillna(df.groupby('Исход')['пульс'].transform('median'), inplace=True)

Учащенное дыхание бывает при повышенном пульсе и соотвествено тоже косвенно зависит от исхода. Группируем по исходу и заменяем медианой пропуски в дыхании

In [25]:
df['дыхание'].fillna(df.groupby('Исход')['дыхание'].transform('median'), inplace=True)

Скорее всего при повышенном сердцебиении и дыхании лошади испытывали боль. Заполним пропуски в боли данными на основе Исхода.

In [36]:
df['боль'].fillna(df.groupby(['Исход'])['боль'].transform('median'), inplace=True)

Зависимость температур от других параметров не нашла. Заполняю наиболее часто встречающимися значениями.

In [59]:
df['Р.температура'].fillna(df['Р.температура'].mode()[0], inplace= True)
df[' К.температура'].fillna(df[' К.температура'].mode()[0], inplace= True)

In [60]:
(df.isna().mean() * 100).round(2)

Хирургия           0.0
Возраст            0.0
Номер госпиталя    0.0
Р.температура      0.0
пульс              0.0
дыхание            0.0
 К.температура     0.0
боль               0.0
Исход              0.0
dtype: float64